<div class="message-line d-flex flex-column">
  <div class="d-flex justify-content-between">
    <p class="small mb-1 text-success"><%= message.user.email %></p>
    <div class="d-flex justify-content-between">
      <p class="small mb-1 text-muted me-3"><%= l(message.created_at, format: :short) %></p>
      <p class="small mb-1">
        <%= link_to like_message_path(message), data: {'turbo-method': :post} do %>
          <%= render partial: 'messages/heart', locals: { user: user, message: message } %>
          <%= render partial: 'messages/likes_count', locals: { message: message } %>
        <% end %>
    </div>
  </div>
  <div class="d-flex flex-row justify-content-start">
    <div class="w-100">
      <p class="small p-2 mb-3 rounded-3 w-100" style="background-color: #f5f6f7;"><%= message.body %></p>
    </div>
  </div>
</div>
